*::after,
*::before,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f3f2ff;
  font-family: "Poppins", sans-serif;
}

.jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bolder;
}

.container {
  display: flex;
}

label,
select {
  font-size: 12px;
}

select:focus {
  outline: none;
}

select {
  color: #fff;
  background: rgb(176, 124, 255);
  background: linear-gradient(
    140deg,
    rgba(176, 124, 255, 1) 0%,
    rgba(74, 125, 255, 1) 100%
  );
  border: none;
  padding: 2px 4px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 3em;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 999;

  background-image: linear-gradient(
    to bottom,
    #b07cff,
    #a17cff,
    #907dff,
    #7f7dff,
    #6b7dff,
    #6b7dff,
    #6b7dff,
    #6b7dff,
    #7f7dff,
    #907dff,
    #a17cff,
    #b07cff
  );

  padding: 2em 1em;
  color: #fdfcff;
}

.content {
  margin-left: 200px;
  width: 100%;
  color: #454c5e;
  padding-block: 2em;
}

.text-center {
  text-align: center;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.link {
  display: flex;
  align-items: center;
  column-gap: 1em;
  padding-block: 0.5em;
  padding-inline: 1em;
  text-transform: capitalize;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 16px;
  background: transparent;
  transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
}

.link:hover,
.link.active {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.3px);
  -webkit-backdrop-filter: blur(13.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  color: white;
}

#dashboard {
  padding-bottom: 2.5em;
  padding-inline: 20px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-logo img {
  width: 80px;
}

/* chart */
.chart {
  margin-top: 2.5em;
}

/* summary */
.summary {
  display: flex;
  justify-content: space-around;
}

.total {
  text-align: center;
  background: rgb(176, 124, 255);
  background: linear-gradient(
    140deg,
    rgba(176, 124, 255, 1) 0%,
    rgba(74, 125, 255, 1) 100%
  );
  padding: 0.5em 3em;
  color: #fdfcff;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* another chart */
.another-chart {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "profit profit"
    "revenue order"
    "sub-category total-product";
  gap: 1em;
}

.chart-revenue {
  grid-area: revenue;
}
.chart-profit {
  grid-area: profit;
}
.chart-order {
  grid-area: order;
}

.category-gender {
  grid-area: sub-category;
}

.total-product {
  grid-area: total-product;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.chart-revenue,
.chart-profit,
.chart-order,
.category-gender,
.total-product {
  margin: auto;
  background-color: #fff;
  padding: 1.5em;

  width: 100%;
  height: 300px;

  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;

  box-shadow: 0px 0px 34px -1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 0px 34px -1px #454c5e14;
  -moz-box-shadow: 0px 0px 34px -1px rgba(0, 0, 0, 0.45);
}
/* about */

#about {
  padding-block: 2.5em;
  background-image: url("https://img.freepik.com/free-vector/gradient-blur-pink-blue-abstract-background_53876-117324.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-content {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "col-1 col-2"
    "col-3 col-4";
  gap: 1em;
  padding: 20px;
}

.about-column {
  padding: 1em;
  background: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.col-1 {
  grid-area: col-1;
}
.col-2 {
  grid-area: col-2;
}
.col-3 {
  grid-area: col-3;
}
.col-4 {
  grid-area: col-4;
}

/* team */

#team {
  /* background-image: url("./assets/mesh-gradient.png"); */
  background-position: center;
  background-size: cover;
  padding: 20px;
}

.team-header,
.about-header {
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: 2em;
  background: linear-gradient(to right, #b07cff, #4a7dee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
  margin: 20px auto;
  justify-items: center;
}

.team-card {
  width: 100%;
  max-width: 270px;
  height: 340px;
  padding: 10px;
  background-color: #fff;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;

  box-shadow: 0px 0px 34px -1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 0px 34px -1px #454c5e14;
  -moz-box-shadow: 0px 0px 34px -1px rgba(0, 0, 0, 0.45);
}

.card-image {
  width: 100%;
  height: 210px;
  background-image: url("./assets/daffa.jpg");
  border-radius: 16px;
  background-position: center;
  background-size: cover;
}

.card-content {
  text-align: center;
  margin: 20px auto;
}

.card-social {
  margin-top: 8px;
  display: flex;
  column-gap: 5px;
  justify-content: center;
}

.card-social div {
  padding: 0 5px;
  display: inline-block;
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.39);
  border-radius: 4px;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.63);
}

.card-social div:hover {
  opacity: 0.5;
  transition: opacity 0.5 ease;
  -webkit-transition: opacity 0.5 ease;
  -moz-transition: opacity 0.5 ease;
  -ms-transition: opacity 0.5 ease;
  -o-transition: opacity 0.5 ease;
}

.card-social div i {
  background: linear-gradient(to right, #b07cff, #4a7dee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #454c5e;
  text-decoration: none;
}

.team-cards-container {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* data table */
.container-data-table {
  font-size: 12px;
  background-color: white;
  margin-top: 20px;
  padding: 2em;
  border-radius: 1em;
  box-shadow: rgba(69, 76, 94, 0.08) 0px 0px 34px -1px;
}
.data-tables-title {
  margin: 5px auto;
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: #0000008c;
  font-weight: 600;
}

table.dataTable tbody tr:hover {
  background-color: #c29ef659;
}

div.dt-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

thead {
  background: rgb(176, 124, 255);
  background: linear-gradient(
    140deg,
    rgba(176, 124, 255, 1) 0%,
    rgba(74, 125, 255, 1) 100%
  );
  color: white;
}

/* media */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .summary {
    flex-direction: column;
    row-gap: 0.5em;
  }

  .link p,
  .sidebar-logo {
    display: none;
  }

  .sidebar-links {
    margin: auto 0;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .sidebar {
    width: unset;
    padding: 0;
    right: 0;
    top: 93%;
    flex-direction: row;
    background: rgb(176, 124, 255);
    background: linear-gradient(
      140deg,
      rgba(176, 124, 255, 1) 0%,
      rgba(74, 125, 255, 1) 100%
    );
  }

  .content {
    margin: 0;
    /* padding: 5px; */
  }

  .chart {
    margin-top: 0.5em;
  }

  /* another chart */
  .another-chart {
    grid-template-columns: 1fr;
    grid-template-areas:
      "profit "
      "revenue"
      "order"
      "sub-category"
      "total-product";
    gap: 2em;
  }

  .team-cards-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .about-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "col-1"
      "col-2"
      "col-3"
      "col-4";
  }
}

/* Tablet (601px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {
  .summary {
    flex-direction: column;
    row-gap: 0.5em;
  }

  .sidebar {
    width: 65px;
    padding: 0;
    align-items: center;
  }

  .sidebar-links {
    margin: auto 0;
  }

  .link p,
  .sidebar-logo {
    display: none;
  }

  .content {
    margin-left: 55px;
  }

  .chart {
    margin-top: 0.5em;
  }

  /* another chart */
  .another-chart {
    grid-template-columns: 1fr;
    grid-template-areas:
      "profit "
      "revenue"
      "order"
      "sub-category"
      "total-product";
    gap: 1em;
  }
}
